// WHATSAPP
.boton-wp {
    position: fixed;
    font-size: 2rem;
    bottom: 5vh;
    right: 5vh;
    width: 3.8rem; // Ancho del círculo
    height: 3.8rem; // Altura del círculo

    background-color: map-get($color-pp, verde);
    color: map-get($color-pp, blanco);
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;

    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 1000;

    &:hover {
        background-color: map-get($color-pp, blanco);
        color: map-get($color-pp, verde);
    }
}

/* PARALLAX */
.parallax-pp {
    background: url('/ConsultARme/tango/axof.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    .parallax-inner-pp {
        padding: 10% 0;
        h3, p { color: map-get($color-pp, blanco); }
    }
}