.footer-maps { // MAPS
    @extend %foto-pp;
    height: 66vh;
}

.footer-pp { // FOOTER
    z-index: 1020;
    background-color: map-get($color-pp, celeste-500);
    a, .nav-link { @include enlace-pp(blanco-1, blanco, blanco-2); }
}