// ALTO FOOTER
.footer-negro {
    z-index: 1020;

    a,.nav-link, i, button { @include enlace-pp(blanco-1, blanco, blanco-2); }

    .flex-footer {
        @extend %flex-pp;
        justify-content: center;
        align-content: center;
        color: map-get($color-pp, blanco-2);
    }
}