// LOGO NAV
.logo-pp {
    @extend %foto-pp;
    max-height: 50px;
}

// NAV CON CAMBIO DE COLOR EN JS
.nav-negro {
    background-color: map-get($color-pp, negro); /* Color inicial */
    z-index: 1000; /* Asegura que esté encima de otros elementos */
    width: 100%;
    transition: background-color 0.3s ease; /* Transición suave del color */
    @media (min-width: 768px) {
        background-color: transparent; // Cambia a transparente en pantallas grandes
    }
    &.scrolled {
        background-color: map-get($color-pp, negro); // Vuelve a ser negro al hacer scroll
    }
}

// ALTURA HEADER
.altura-100 { height: 72vh; }
.altura-79 { height: 72vh; }

// HEADERS VAN SEPARADOS AL FUNCIONAR DISTINTO EN INDEX Y RESTO DE PAGES
.carousel-item  {
    position: relative; /* Agrega posicionamiento relativo */
    z-index: 0; /* Asegura que esté detrás del nav */
    img, video {
        @extend %foto-pp;
        height: 100%; // Ajusta la altura de la imagen al 100% del contenedor
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.carousel-caption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1, h2 {
        color: map-get($color-pp, blanco); /* Cambia el color si es necesario */
        font-size: 3.6rem;
        font-weight: 700;
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
    }

    p {
        font-size: 2rem;
        font-weight: 400;
        font-style: italic;
        text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
    }
}

