// LOGOS CLIENTES
.logos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    img {
        max-width: 100px;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}

// IFRAME DE GOOGLE 1 X 1 PERFECTO
.iframe-maps {
    width: 100%;
    height: 100%;
}

// BOTON LINKEDIN
.boton-in {
    font-size: 1rem;
    width: 1.5rem; // Ancho del círculo
    height: 1.5rem; // Altura del círculo
    background-color: map-get($color-pp, azul);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    border-radius: 50%;
    .icono-in {
        color: map-get($color-pp, blanco);
        &:hover {
            color: map-get($color-pp, azul);
        }
    }
    &:hover {
        background-color: map-get($color-pp, blanco);
    }
}

// BOTON CONTACTO
.boton-contacto {
    display: flex; /* Añade display: flex para centrar vertical y horizontalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    width: 2.2rem; // Ancho del círculo
    height: 2.2rem; // Altura del círculo
    background-color: map-get($color-pp, azul);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    border-radius: 50%;
    .icono-contacto {
        font-size: 1.2rem;
        color: map-get($color-pp, blanco);
        &:hover {
            color: map-get($color-pp, azul);
        }
    }
    &:hover {
        background-color: map-get($color-pp, blanco);
    }
}

//

.pricing3 {
    font-family: "Montserrat", sans-serif;
      color: #8d97ad;
    font-weight: 300;
  }
  
  .pricing3 h1, .pricing3 h2, .pricing3 h3, .pricing3 h4, .pricing3 h5, .pricing3 h6 {
    color: #3e4555;
  }
  
  .pricing3 .font-weight-medium {
      font-weight: 500;
  }
  
  .pricing3 .bg-light {
      background-color: #f4f8fa !important;
  }
  
  .pricing3 .subtitle {
      color: #8d97ad;
      line-height: 24px;
  }
  
  .pricing3 .col-lg-2 {
    padding-right: 0px;
    position: relative;
    z-index: 1;
  }
  
  .pricing3 .col-lg-10 {
    padding-left: 0px;
  }
  
  .pricing3 .nav-pills {
    border: 1px solid rgba(120, 130, 140, 0.13);
    border-radius: 4px;
    border-right: 0px;
  }
  
  .pricing3 .nav-pills .nav-link {
    padding: 30px 25px;
  }
  
  .pricing3 .nav-pills .nav-link h2 {
    color: #8d97ad;
  }
  
  .pricing3 .nav-pills .nav-link.active {
    background: #ffffff;
    border-left: 3px solid #ff4d7e;
    border-radius: 0px;
    margin-left: -3px;
    -webkit-box-shadow: -20px 0 40px rgba(0, 0, 0, 0.1);
    box-shadow: -20px 0 40px rgba(0, 0, 0, 0.1);
  }
  
  .pricing3 .nav-pills .nav-link.active h2 {
    color: #263238;
  }
  
  .pricing3 .tab-content {
    background: #ffffff;
    overflow: hidden;
    -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
  }
  
  .pricing3 .tab-content .pricing-box {
    padding: 50px 80px;
  }
  
  .pricing3 .tab-content .list-inline {
    margin-top: 20px;
  }
  
  .pricing3 .tab-content .list-inline li {
    padding: 30px 0;
    font-weight: 400;
  }
  
  .pricing3 .tab-content .list-inline li span {
    display: inline-block;
    vertical-align: middle;
  }
  
  .pricing3 .tab-content .list-inline li i {
    font-size: 40px;
    vertical-align: middle;
    width: 80px;
    opacity: 0.5;
  }
  
  .pricing3 .tab-content .bg-image {
    background-size: cover;
  }
  
  .pricing3 .tab-content .bg-image .quote-box {
    padding: 40px;
  }
  
  .pricing3 .btn-danger-gradiant {
    background: #ff4d7e;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
    background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
    background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
  }
  
   .pricing3 .btn-danger-gradiant:hover {
    background: #ff6a5b;
    background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
    background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
    background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
    background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
  }
  
  .pricing3 .btn-md {
      padding: 15px 45px;
      font-size: 16px;
  }
  
  .pricing3 .display-5 {
      font-size: 3rem;
  }
  
  @media (max-width: 767px) {
    .pricing3 .col-lg-2 {
      padding-right: 15px;
    }
    .pricing3 .col-lg-10 {
      padding-left: 15px;
    }
    .pricing3 .nav-pills {
      -webkit-box-orient: horizontal !important;
      -webkit-box-direction: normal !important;
      -webkit-flex-direction: row !important;
      -ms-flex-direction: row !important;
      flex-direction: row !important;
      border-bottom: 0px;
      border-right: 1px solid rgba(120, 130, 140, 0.13);
    }
    .pricing3 .nav-pills .nav-link {
      padding: 25px 18px;
    }
    .pricing3 .nav-pills .nav-link.active {
      border-left: 0px;
      border-top: 3px solid #ff4d7e;
      margin-top: -4px;
      margin-left: 0px;
      margin-bottom: -1px;
      -webkit-box-shadow: 0 -20px 40px rgba(0, 0, 0, 0.1);
      box-shadow: 0 -20px 40px rgba(0, 0, 0, 0.1);
    }
    .pricing3 .tab-content .pricing-box {
      padding: 20px;
    }
  }