// LOGOS CLIENTES
.logos-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    img {
        max-width: 100px;
        height: auto;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
}

// MAPS FOOTER
.footer-maps { 
    @extend %foto-pp;
    height: 66vh;
}


// no esta en uso guardar para armar botones!!!
// BOTON PLANES
.boton-planes {
    display: flex; /* Añade display: flex para centrar vertical y horizontalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-size: 1.5rem;
    width: 2.5rem; // Ancho del círculo
    height: 2.5rem; // Altura del círculo
    background-color: map-get($color-pp, celeste);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    .icono-planes {
        color: map-get($color-pp, blanco);
    }
}

// BOTON CONTACTO
.boton-contacto {
    display: flex; /* Añade display: flex para centrar vertical y horizontalmente */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    font-size: 1.5rem;
    width: 2.5rem; // Ancho del círculo
    height:2.5rem; // Altura del círculo
    background-color: map-get($color-pp, celeste);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    border-radius: 50%;
    .icono-contacto {
        color: map-get($color-pp, blanco);
        &:hover {
            color: map-get($color-pp, celeste);
        }
    }
    &:hover {
        background-color: map-get($color-pp, blanco);
    }
}

// BOTON LINKEDIN - ver si se borra
.boton-in {
    font-size: 1rem;
    width: 1.5rem; // Ancho del círculo
    height: 1.5rem; // Altura del círculo
    background-color: map-get($color-pp, azul);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    border-radius: 50%;
    .icono-in {
        color: map-get($color-pp, blanco);
        &:hover {
            color: map-get($color-pp, azul);
        }
    }
    &:hover {
        background-color: map-get($color-pp, blanco);
    }
}