* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;

  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; // <weight>: Use a value from 300 to 700
  font-style: normal;

  background-color: map-get($color-pp, celeste-100);

  a { text-decoration: none; }

  img { @extend %foto-pp; }
}