%foto-pp {
  width: 100%;
  height: auto;
  object-fit: cover;
};

%flex-pp {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: center; 
  // align-content: center;
};

@mixin enlace-pp($color-link, $color-hover, $color-activo) { color: map-get($color-pp, $color-link);
  &:hover { 
      color: map-get($color-pp, $color-hover); 
  };

  &.active { 
      color: map-get($color-pp, $color-activo);
      &:hover { color: map-get($color-pp, $color-hover); }; 
  };
};