// COLORES DE FONDO
.fondo-gris {
  background-color: map-get($color-pp, gris-1);
}

.fondo-negro {
  background-color: map-get($color-pp, negro);
}

// ICONO VERDE
.icono-verde {
  font-size: 1.5rem;
  color: map-get($color-pp, verde);
}

// ICONO ROJO
.icono-rojo {
  font-size: 1.5rem;
  color: map-get($color-pp, rojo);
}