@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  background-color: #f1f9fa;
}
body a {
  text-decoration: none;
}
.footer-maps, .carousel-item video, .carousel-item img, .logo-pp, body img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.logo-pp {
  transition: filter 0.5s ease; /* Efecto suave de transición para el logo */
  height: 12vh;
}

.nav-transparente {
  z-index: 1000;
  background-color: transparent;
  transition: background-color 0.5s ease;
}
.nav-transparente .link-blanco {
  color: #eeeeee;
  font-size: medium;
  font-weight: 600;
}
.nav-transparente .link-blanco:hover {
  color: #ffffff;
}
.nav-transparente .link-blanco.active {
  color: #cccccc;
}
.nav-transparente .link-blanco.active:hover {
  color: #ffffff;
}

.nav-blanco {
  z-index: 1000;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.5s ease;
}
.nav-blanco .link-celeste {
  color: #51a8b1;
  font-size: medium;
  font-weight: 600;
}
.nav-blanco .link-celeste:hover {
  color: #3f919b;
}
.nav-blanco .link-celeste.active {
  color: #90cbd0;
}
.nav-blanco .link-celeste.active:hover {
  color: #3f919b;
}

.altura-100 {
  height: 100vh;
}

.altura-79 {
  height: 79vh;
}

.carousel-item {
  position: relative;
  z-index: 0;
}
.carousel-item img {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-item video {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(33, 37, 41, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carousel-caption h1, .carousel-caption h2 {
  color: #ffffff;
  font-size: 3.6rem;
  font-weight: 700;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}
.carousel-caption p {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.fondo-gris {
  background-color: #F1F3F4;
}

.fondo-negro {
  background-color: #212529;
}

/* PARALLAX */
.parallax-pp {
  background: url("/ConsultARme/tango/axof.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.parallax-pp .parallax-inner-pp {
  padding: 10% 0;
}
.parallax-pp .parallax-inner-pp h3, .parallax-pp .parallax-inner-pp p {
  color: #ffffff;
}

.logos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.logos-container img {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.boton-wp {
  position: fixed;
  font-size: 2rem;
  bottom: 5vh;
  right: 5vh;
  width: 3.8rem;
  height: 3.8rem;
  background-color: #128851;
  color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.boton-wp:hover {
  background-color: #ffffff;
  color: #128851;
}

.footer-maps {
  height: 66vh;
}

.footer-pp {
  z-index: 1020;
  background-color: #3f919b;
}
.footer-pp a, .footer-pp .nav-link {
  color: #eeeeee;
}
.footer-pp a:hover, .footer-pp .nav-link:hover {
  color: #ffffff;
}
.footer-pp a.active, .footer-pp .nav-link.active {
  color: #cccccc;
}
.footer-pp a.active:hover, .footer-pp .nav-link.active:hover {
  color: #ffffff;
}