@charset "UTF-8";
@import "bootstrap/dist/css/bootstrap.min.css";
.empresa-perfil, .carousel-item img, .carousel-item video, body img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer-negro .flex-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
}
.ocultar {
  display: none;
}
@media screen and (min-width: 768px) {
  .ocultar {
    display: block;
  }
}

.link-blanco a, .link-blanco .nav-link, .link-blanco .nav-link:hover, .link-blanco .nav-link.active, .link-blanco i, .link-blanco button {
  font-size: 1rem;
  text-decoration: none;
  color: #eeeeee;
}
.link-blanco a:hover, .link-blanco .nav-link:hover, .link-blanco .nav-link:hover:hover, .link-blanco .nav-link.active:hover, .link-blanco i:hover, .link-blanco button:hover {
  color: #ffffff;
}
.link-blanco a.active, .link-blanco .nav-link.active, .link-blanco .nav-link:hover.active, .link-blanco .nav-link.active.active, .link-blanco i.active, .link-blanco button.active {
  color: #767676;
}
.link-blanco a.active:hover, .link-blanco .nav-link.active:hover, .link-blanco .nav-link:hover.active:hover, .link-blanco .nav-link.active.active:hover, .link-blanco i.active:hover, .link-blanco button.active:hover {
  color: #ffffff;
}
@media screen and (min-width: 640px) {
  .link-blanco a, .link-blanco .nav-link, .link-blanco .nav-link:hover, .link-blanco .nav-link.active, .link-blanco i, .link-blanco button {
    font-size: 1rem;
  }
}

.link-gris a, .link-gris .nav-link, .link-gris .nav-link:hover, .link-gris .nav-link.active, .link-gris i {
  font-size: 1rem;
  text-decoration: none;
  color: #cccccc;
}
.link-gris a:hover, .link-gris .nav-link:hover, .link-gris .nav-link:hover:hover, .link-gris .nav-link.active:hover, .link-gris i:hover {
  color: #ffffff;
}
.link-gris a.active, .link-gris .nav-link.active, .link-gris .nav-link:hover.active, .link-gris .nav-link.active.active, .link-gris i.active {
  color: #767676;
}
.link-gris a.active:hover, .link-gris .nav-link.active:hover, .link-gris .nav-link:hover.active:hover, .link-gris .nav-link.active.active:hover, .link-gris i.active:hover {
  color: #ffffff;
}
@media screen and (min-width: 640px) {
  .link-gris a, .link-gris .nav-link, .link-gris .nav-link:hover, .link-gris .nav-link.active, .link-gris i {
    font-size: 1rem;
  }
}

.link-negro a, .link-negro .nav-link, .link-negro .nav-link:hover, .link-negro .nav-link.active, .link-negro i {
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
}
.link-negro a:hover, .link-negro .nav-link:hover, .link-negro .nav-link:hover:hover, .link-negro .nav-link.active:hover, .link-negro i:hover {
  color: #333333;
}
.link-negro a.active, .link-negro .nav-link.active, .link-negro .nav-link:hover.active, .link-negro .nav-link.active.active, .link-negro i.active {
  color: #767676;
}
.link-negro a.active:hover, .link-negro .nav-link.active:hover, .link-negro .nav-link:hover.active:hover, .link-negro .nav-link.active.active:hover, .link-negro i.active:hover {
  color: #333333;
}
@media screen and (min-width: 640px) {
  .link-negro a, .link-negro .nav-link, .link-negro .nav-link:hover, .link-negro .nav-link.active, .link-negro i {
    font-size: 1rem;
  }
}

.link-azul a, .link-azul .nav-link, .link-azul .nav-link:hover, .link-azul .nav-link.active, .link-azul i {
  font-size: 1rem;
  text-decoration: none;
  color: #3b70d8;
}
.link-azul a:hover, .link-azul .nav-link:hover, .link-azul .nav-link:hover:hover, .link-azul .nav-link.active:hover, .link-azul i:hover {
  color: #333333;
}
.link-azul a.active, .link-azul .nav-link.active, .link-azul .nav-link:hover.active, .link-azul .nav-link.active.active, .link-azul i.active {
  color: #767676;
}
.link-azul a.active:hover, .link-azul .nav-link.active:hover, .link-azul .nav-link:hover.active:hover, .link-azul .nav-link.active.active:hover, .link-azul i.active:hover {
  color: #333333;
}
@media screen and (min-width: 640px) {
  .link-azul a, .link-azul .nav-link, .link-azul .nav-link:hover, .link-azul .nav-link.active, .link-azul i {
    font-size: 1rem;
  }
}

.link-rojo a, .link-rojo .nav-link, .link-rojo .nav-link:hover, .link-rojo .nav-link.active, .link-rojo i {
  font-size: 1rem;
  text-decoration: none;
  color: #d14642;
}
.link-rojo a:hover, .link-rojo .nav-link:hover, .link-rojo .nav-link:hover:hover, .link-rojo .nav-link.active:hover, .link-rojo i:hover {
  color: #DB5461;
}
.link-rojo a.active, .link-rojo .nav-link.active, .link-rojo .nav-link:hover.active, .link-rojo .nav-link.active.active, .link-rojo i.active {
  color: #767676;
}
.link-rojo a.active:hover, .link-rojo .nav-link.active:hover, .link-rojo .nav-link:hover.active:hover, .link-rojo .nav-link.active.active:hover, .link-rojo i.active:hover {
  color: #DB5461;
}
@media screen and (min-width: 640px) {
  .link-rojo a, .link-rojo .nav-link, .link-rojo .nav-link:hover, .link-rojo .nav-link.active, .link-rojo i {
    font-size: 1rem;
  }
}

.fondo-blanco {
  background-color: #ffffff;
}

.fondo-blanco-1 {
  background-color: #eeeeee;
}

.fondo-blanco-2 {
  background-color: #cccccc;
}

.fondo-gris {
  background-color: #767676;
}

.fondo-negro-2 {
  background-color: #595959;
  color: #eeeeee;
}

.fondo-negro-1 {
  background-color: #333333;
  color: #767676;
}

.fondo-negro {
  background-color: #000000;
}

.nav-negro {
  background-color: #000000; /* Color inicial */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
  width: 100%;
  transition: background-color 0.3s ease; /* Transición suave del color */
}
@media (min-width: 768px) {
  .nav-negro {
    background-color: transparent;
  }
}
.nav-negro.scrolled {
  background-color: #000000;
}

.altura-100 {
  height: 66vh;
}

.altura-79 {
  height: 62vh;
}

.carousel-item {
  position: relative; /* Agrega posicionamiento relativo */
  z-index: 0; /* Asegura que esté detrás del nav */
}
.carousel-item img, .carousel-item video {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carousel-caption h1, .carousel-caption h2 {
  color: #ffffff; /* Cambia el color si es necesario */
  font-size: 3.6rem;
  font-weight: 700;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}
.carousel-caption p {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.iframe-maps {
  width: 100%;
  height: 100%;
}

.empresa-perfil {
  max-width: 100%;
  border-radius: 50%;
}

.boton-in { /* BOTON LINKEDIN */
  font-size: 2rem;
  color: #3b70d8;
}

.boton-wp {
  position: fixed;
  font-size: 2rem;
  bottom: 5vh;
  right: 5vh;
  width: 3.8rem;
  height: 3.8rem;
  background-color: #128851;
  color: #eeeeee;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.boton-wp:hover {
  background-color: #eeeeee;
  color: #128851;
}

.footer-negro {
  height: 42vh;
  background-color: #000000;
  color: #595959;
  z-index: 1020;
}
.footer-negro .flex-footer {
  justify-content: center;
  align-content: center;
}/*# sourceMappingURL=estilos.css.map */