@charset "UTF-8";
@import "bootstrap/dist/css/bootstrap.min.css";
.carousel-item img, .carousel-item video, .logo-pp, body img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.footer-negro .flex-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background-color: #ffffff;
}
.link-blanco a, .link-blanco .nav-link, .link-blanco i, .link-blanco button {
  font-size: 1rem;
  text-decoration: none;
  color: #eeeeee;
}
.link-blanco a:hover, .link-blanco .nav-link:hover, .link-blanco i:hover, .link-blanco button:hover {
  color: #ffffff;
}
.link-blanco a.active, .link-blanco .nav-link.active, .link-blanco i.active, .link-blanco button.active {
  color: #cccccc;
}
.link-blanco a.active:hover, .link-blanco .nav-link.active:hover, .link-blanco i.active:hover, .link-blanco button.active:hover {
  color: #ffffff;
}
@media screen and (min-width: 640px) {
  .link-blanco a, .link-blanco .nav-link, .link-blanco i, .link-blanco button {
    font-size: 1rem;
  }
}

.link-gris a, .link-gris .nav-link, .link-gris i, .link-gris button {
  font-size: 1rem;
  text-decoration: none;
  color: #cccccc;
}
.link-gris a:hover, .link-gris .nav-link:hover, .link-gris i:hover, .link-gris button:hover {
  color: #ffffff;
}
.link-gris a.active, .link-gris .nav-link.active, .link-gris i.active, .link-gris button.active {
  color: #767676;
}
.link-gris a.active:hover, .link-gris .nav-link.active:hover, .link-gris i.active:hover, .link-gris button.active:hover {
  color: #ffffff;
}
@media screen and (min-width: 640px) {
  .link-gris a, .link-gris .nav-link, .link-gris i, .link-gris button {
    font-size: 1rem;
  }
}

.link-negro a, .link-negro .nav-link, .link-negro i, .link-negro button {
  font-size: 1rem;
  text-decoration: none;
  color: #000000;
}
.link-negro a:hover, .link-negro .nav-link:hover, .link-negro i:hover, .link-negro button:hover {
  color: #333333;
}
.link-negro a.active, .link-negro .nav-link.active, .link-negro i.active, .link-negro button.active {
  color: #767676;
}
.link-negro a.active:hover, .link-negro .nav-link.active:hover, .link-negro i.active:hover, .link-negro button.active:hover {
  color: #333333;
}
@media screen and (min-width: 640px) {
  .link-negro a, .link-negro .nav-link, .link-negro i, .link-negro button {
    font-size: 1rem;
  }
}

.fondo-gris {
  background-color: #767676;
}

.fondo-negro {
  background-color: #000000;
}

.logo-pp {
  max-height: 50px;
}

.nav-negro {
  background-color: #000000; /* Color inicial */
  z-index: 1000; /* Asegura que esté encima de otros elementos */
  width: 100%;
  transition: background-color 0.3s ease; /* Transición suave del color */
}
@media (min-width: 768px) {
  .nav-negro {
    background-color: transparent;
  }
}
.nav-negro.scrolled {
  background-color: #000000;
}

.altura-100 {
  height: 72vh;
}

.altura-79 {
  height: 75vh;
}

.carousel-item {
  position: relative; /* Agrega posicionamiento relativo */
  z-index: 0; /* Asegura que esté detrás del nav */
}
.carousel-item img, .carousel-item video {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-caption {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.carousel-caption h1, .carousel-caption h2 {
  color: #ffffff; /* Cambia el color si es necesario */
  font-size: 3.6rem;
  font-weight: 700;
  text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.6);
}
.carousel-caption p {
  font-size: 2rem;
  font-weight: 400;
  font-style: italic;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
}

.logos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.logos-container img {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.iframe-maps {
  width: 100%;
  height: 100%;
}

.boton-in {
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  background-color: #3b70d8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border-radius: 50%;
}
.boton-in .icono-in {
  color: #ffffff;
}
.boton-in .icono-in:hover {
  color: #3b70d8;
}
.boton-in:hover {
  background-color: #ffffff;
}

.boton-contacto {
  display: flex; /* Añade display: flex para centrar vertical y horizontalmente */
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  width: 2.2rem;
  height: 2.2rem;
  background-color: #3b70d8;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  border-radius: 50%;
}
.boton-contacto .icono-contacto {
  font-size: 1.2rem;
  color: #ffffff;
}
.boton-contacto .icono-contacto:hover {
  color: #3b70d8;
}
.boton-contacto:hover {
  background-color: #ffffff;
}

.pricing3 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.pricing3 h1, .pricing3 h2, .pricing3 h3, .pricing3 h4, .pricing3 h5, .pricing3 h6 {
  color: #3e4555;
}

.pricing3 .font-weight-medium {
  font-weight: 500;
}

.pricing3 .bg-light {
  background-color: #f4f8fa !important;
}

.pricing3 .subtitle {
  color: #8d97ad;
  line-height: 24px;
}

.pricing3 .col-lg-2 {
  padding-right: 0px;
  position: relative;
  z-index: 1;
}

.pricing3 .col-lg-10 {
  padding-left: 0px;
}

.pricing3 .nav-pills {
  border: 1px solid rgba(120, 130, 140, 0.13);
  border-radius: 4px;
  border-right: 0px;
}

.pricing3 .nav-pills .nav-link {
  padding: 30px 25px;
}

.pricing3 .nav-pills .nav-link h2 {
  color: #8d97ad;
}

.pricing3 .nav-pills .nav-link.active {
  background: #ffffff;
  border-left: 3px solid #ff4d7e;
  border-radius: 0px;
  margin-left: -3px;
  -webkit-box-shadow: -20px 0 40px rgba(0, 0, 0, 0.1);
  box-shadow: -20px 0 40px rgba(0, 0, 0, 0.1);
}

.pricing3 .nav-pills .nav-link.active h2 {
  color: #263238;
}

.pricing3 .tab-content {
  background: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.1);
}

.pricing3 .tab-content .pricing-box {
  padding: 50px 80px;
}

.pricing3 .tab-content .list-inline {
  margin-top: 20px;
}

.pricing3 .tab-content .list-inline li {
  padding: 30px 0;
  font-weight: 400;
}

.pricing3 .tab-content .list-inline li span {
  display: inline-block;
  vertical-align: middle;
}

.pricing3 .tab-content .list-inline li i {
  font-size: 40px;
  vertical-align: middle;
  width: 80px;
  opacity: 0.5;
}

.pricing3 .tab-content .bg-image {
  background-size: cover;
}

.pricing3 .tab-content .bg-image .quote-box {
  padding: 40px;
}

.pricing3 .btn-danger-gradiant {
  background: #ff4d7e;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff4d7e 0%, #ff6a5b 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff4d7e), to(#ff6a5b));
  background: -webkit-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: -o-linear-gradient(left, #ff4d7e 0%, #ff6a5b 100%);
  background: linear-gradient(to right, #ff4d7e 0%, #ff6a5b 100%);
}

.pricing3 .btn-danger-gradiant:hover {
  background: #ff6a5b;
  background: -webkit-linear-gradient(legacy-direction(to right), #ff6a5b 0%, #ff4d7e 100%);
  background: -webkit-gradient(linear, left top, right top, from(#ff6a5b), to(#ff4d7e));
  background: -webkit-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: -o-linear-gradient(left, #ff6a5b 0%, #ff4d7e 100%);
  background: linear-gradient(to right, #ff6a5b 0%, #ff4d7e 100%);
}

.pricing3 .btn-md {
  padding: 15px 45px;
  font-size: 16px;
}

.pricing3 .display-5 {
  font-size: 3rem;
}

@media (max-width: 767px) {
  .pricing3 .col-lg-2 {
    padding-right: 15px;
  }
  .pricing3 .col-lg-10 {
    padding-left: 15px;
  }
  .pricing3 .nav-pills {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: row !important;
    -ms-flex-direction: row !important;
    flex-direction: row !important;
    border-bottom: 0px;
    border-right: 1px solid rgba(120, 130, 140, 0.13);
  }
  .pricing3 .nav-pills .nav-link {
    padding: 25px 18px;
  }
  .pricing3 .nav-pills .nav-link.active {
    border-left: 0px;
    border-top: 3px solid #ff4d7e;
    margin-top: -4px;
    margin-left: 0px;
    margin-bottom: -1px;
    -webkit-box-shadow: 0 -20px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0 -20px 40px rgba(0, 0, 0, 0.1);
  }
  .pricing3 .tab-content .pricing-box {
    padding: 20px;
  }
}
.boton-wp {
  position: fixed;
  font-size: 2rem;
  bottom: 5vh;
  right: 5vh;
  width: 3.8rem;
  height: 3.8rem;
  background-color: #128851;
  color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.boton-wp:hover {
  background-color: #ffffff;
  color: #128851;
}

.footer-negro {
  height: 42vh;
  background-color: #000000;
  color: #595959;
  z-index: 1020;
}
.footer-negro .flex-footer {
  justify-content: center;
  align-content: center;
}/*# sourceMappingURL=estilos.css.map */